In [13]:
import pandas as pd
import konlpy

df = pd.read_csv("./data/train2.csv")
df.describe()
df.isnull()

      Unnamed: 0   prev   next
0          False  False  False
1          False  False  False
2          False  False  False
3          False  False  False
4          False  False  False
...          ...    ...    ...
8349       False  False  False
8350       False  False  False
8351       False  False  False
8352       False  False  False
8353       False  False  False

[8354 rows x 3 columns]

In [14]:
df['full_sentence'] = df['prev'] + " " + df['next']

In [15]:
df_sentence = df[['full_sentence']]

In [16]:
df_sentence

                                          full_sentence
0                  영희는 학생이다. 그런데 이러한 학생은 공부를 열심히 해야 한다.
1                    영희는 학생이다. 그런데 이 학생은 공부를 열심히 해야 한다.
2                      영희는 학생이다. 그런데 학생은 공부를 열심히 해야 한다.
3        영희는 미혼이다. 그런데 이러한 미혼은 결혼에 대하여 관심과 부담을 동시에 느낀다.
4          영희는 미혼이다. 그런데 이 미혼은 결혼에 대하여 관심과 부담을 동시에 느낀다.
...                                                 ...
8349  당시 로마 공화정에 관해 집필 중이던 마키아벨리는 마침 피렌체의 새 집권자가 메디치...
8350  당시 로마 공화정에 관해 집필 중이던 마키아벨리는 마침 피렌체의 새 집권자가 메디치...
8351  당시 로마 공화정에 관해 집필 중이던 마키아벨리는 마침 피렌체의 새 집권자가 메디치...
8352  당시 로마 공화정에 관해 집필 중이던 마키아벨리는 마침 피렌체의 새 집권자가 메디치...
8353  당시 로마 공화정에 관해 집필 중이던 마키아벨리는 마침 피렌체의 새 집권자가 메디치...

[8354 rows x 1 columns]

In [17]:
from konlpy.tag import Kkma
Kkma = Kkma()

In [9]:
list_ = Kkma.pos(df_sentence.iloc[0])

In [20]:
df_sentence['analyze'] = [Kkma.pos(sentence) for sentence in df_sentence['full_sentence']]

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
df_sentence['analyze']

0       [(영희, NNP), (는, JX), (학생, NNG), (이, VCP), (다, ...
1       [(영희, NNP), (는, JX), (학생, NNG), (이, VCP), (다, ...
2       [(영희, NNP), (는, JX), (학생, NNG), (이, VCP), (다, ...
3       [(영희, NNP), (는, JX), (미혼, NNG), (이, VCP), (다, ...
4       [(영희, NNP), (는, JX), (미혼, NNG), (이, VCP), (다, ...
                              ...
8349    [(당시, NNG), (로마, NNG), (공화정, NNG), (에, JKM), (...
8350    [(당시, NNG), (로마, NNG), (공화정, NNG), (에, JKM), (...
8351    [(당시, NNG), (로마, NNG), (공화정, NNG), (에, JKM), (...
8352    [(당시, NNG), (로마, NNG), (공화정, NNG), (에, JKM), (...
8353    [(당시, NNG), (로마, NNG), (공화정, NNG), (에, JKM), (...
Name: analyze, Length: 8354, dtype: object

In [11]:
print(type(list_))
word = []
pos = []
for w, p in list_:
    word.append(w)
    pos.append(p)
print(f'word: {word}')
print(f'pos: {pos}')

<class 'list'>
word: ['영희', '는', '학생', '이', '다', '.', '그런데', '이러하', 'ㄴ', '학생', '은', '공부', '를', '열심히', '하', '어야', '하', 'ㄴ다', '.']
pos: ['NNP', 'JX', 'NNG', 'VCP', 'EFN', 'SF', 'MAG', 'VA', 'ETD', 'NNG', 'JX', 'NNG', 'JKO', 'MAG', 'VV', 'ECD', 'VV', 'EFN', 'SF']